<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1>Resultados de búsqueda.</h1>
        <article>     
            <p>Términos buscados...</p>
            <Section>
                <p>Tal vez te interesa:</p>
                <ul class="search">
                    <li><a href="/users/perfil/5">Noah Schnapp</a></li>
                    <li><a href="/users/perfil/3">Zendaya</a></li>
                    <li><a href="/users/perfil/2">Adele</a></li>
                    <li><a href="/users/perfil/4">Lady Gaga</a></li>
                    <li><a href="/users/perfil/1">Miley Cyrus</a></li>
                </ul>
            </Section>
            
        </article>
        </section>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>