<footer class="main-footer">
    <ul class="social">
        <li><a href="https://www.instagram.com/" uk-icon="instagram"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://es-la.facebook.com/" uk-icon="facebook"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/?lang=es" uk-icon="twitter"><i class="fa-brands fa-twitter"></i></a></li>
    </ul>
    <ul class="team">
        <li>Isabel Blaquier</li>
        <li>Julieta Da Forno</li>
        <li>Sol de Apellaniz</li>
    </ul>
</footer>
